@mixin flexStyle($align: 'center', $justContent: 'space-around') {
  display: flex;
  align-items: $align;
  justify-content: $justContent;
}

$block_bg_color: #1d1d1d;

@mixin radius_box($bgColor: $block_bg_color, $padding: 8px 8px, $radius: 5px) {
  background-color: $bgColor;
  padding: $padding;
  border-radius: $radius;
}

@mixin tran_chat_header {
  .tran_chat_header {
    @include flexStyle(center);
    @include radius_box();
    span {
      white-space: nowrap;
    }
  }
}

@mixin tran_chat_user_list {
  .tran_chat_user_list {
    @include radius_box();
    margin-top: 10px;
    height: calc(100% - 58px);
    overflow: auto;

    .user_list_item {
      position: relative;
      @include radius_box(#262626, 10px 10px);
      margin-bottom: 10px;
      transition: all 0.3s linear;
      border: 2px solid transparent;

      .avtor_msg_total {
        position: absolute;
        top: 0;
        right: 0;
      }

      &:hover,
      &.active {
        cursor: pointer;
        background-color: #424242;
        border: 2px solid #313030;
      }

      &.online {
        .user_name {
          &:after {
            background-color: #74f574;
          }
        }
      }

      .user_name, .group_name {
        @include flexStyle(center);
        justify-content: space-between;
        white-space: nowrap;
        &:before {
          content: attr(username);
          width: 25px;
          height: 25px;
          margin-right: 10px;
          background-color: #3d3d3d;
          text-align: center;
          border-radius: 5px;
          font-weight: bold;
        }

        &:after {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin-left: 10px;
          background-color: #696d69;
        }
      }


      .group_name {
        justify-content: unset;
        &:after {
          display: none;
        }
      }
    }
  }
}

@mixin tran_chat_footer {
  .tran_chat_footer {
    height: calc(100% - 80%);
    padding-top: 10px;
    .footer_item {
      @include flexStyle(center, end);
      &.none_flex_end {
        justify-content: unset;
      }
      &.input_area {
        height: calc(100% - 50%);
      }
      :deep {
        .el-textarea {
          margin-right: 10px;
        }
        .el-textarea__inner {
          border: 1px solid transparent !important;
          height: 100%;
        }
      }
    }
  }
}

@mixin section_pop_chat() {
  .section_pop_chat {
    width: 100%;
    .chat_pop {
      width: 100%;
      @include flexStyle(center);
      margin-bottom: 10px;
      .msg {
        width: fit-content;
        word-break: break-all;
        max-width: 700px;
        @include radius_box(#353535, 10px 10px, 5px);

        .tran_markdown_show_area {
          max-height: 300px;
          max-width: 700px;
          overflow: auto;
        }
      }
      .dict {
        font-size: 10px;
        color: #eee;
      }
      &.user_right_pop {
        justify-content: flex-end;
      }
      &.user_left_pop {
        .msg {
          background-color: #388e3c;
        }
      }

      &.group_chat_pop {
        &.user_right_pop {
          flex-direction: row-reverse;
        }

        .time {
          font-size: 12px;
        }

        .msg {
          margin: 0 10px;
        }

        .user_show {
          font-weight:  bold;
          --size: 30px;
          width: fit-content;
          height: var(--size);
        }
      }
    }
  }
}

@mixin tran_chat_area {
  .tran_chat_area {
    margin-top: 10px;
    height: calc(100% - 25%);
    @include radius_box(#141414);
    overflow: auto;
  }
}

@mixin tran_chat_msg_header {
  .tran_chat_msg_header {
    padding-left: 4px;
    @include flexStyle(center, space-between);
    &.group {
      .user_name {
        @include flexStyle(center, center)
      }
      .drawer_control {
        margin-left: 10px;
        @include flexStyle(center, center);
        cursor: pointer;
      }
    }
  }
}

@mixin tran_chat_logo_panel {
  .tran_chat_logo_panel {
    font-size: 120px;
    height: 100%;
    @include flexStyle(center, center);

    color: #565656;
    transition: all 0.3s;
    user-select: none;
    &:hover {
      color: #fff;
      &:before {
        content: '不止于此';
      }
    }

    &:before {
      font-family: fantasy;
      content: 'TranMsg';
    }
  }
}

.tran_dialog {
  .tran_chat_main {
    height: 700px;
    @include flexStyle(center);
    .left,
    .right {
      height: 100%;
    }
    .left {
      width: 20%;
      @include tran_chat_header();
      @include tran_chat_user_list();
    }
    .right {
      width: calc(100% - 20%);
      flex: 1;
      margin-left: 10px;
      @include radius_box();

      @include tran_chat_msg_header();

      @include tran_chat_area();

      @include tran_chat_footer();

      @include section_pop_chat();

      @include tran_chat_logo_panel();
    }
  }
}
