.tran_login, .tran_add_user {
  min-width: 300px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .tran_item {
    margin-bottom: 10px;
    .el-input {
      margin-top: 5px;
    }
  }

  .b_txt {
    font-size: 40px;
    font-weight:  bold;
    // 文字镂空
  }
}
