@import './base.css';

#app {
  width: 100%;
  position: relative;
  max-width: 1480px;
  min-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;

  &:before,
  &:after {
    content: 'V';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    color: rgba(238, 238, 238, 0.1);
    user-select: none;
  }
  &:before {
    font-size: 90px;
    left: 53%;
    transform: translate(-50%, -50%) rotate(199deg);
    z-index: -1;
  }
  &:after {
    font-size: 86px;
    transform: translate(-50%, -50%) rotate(18deg);
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /*#app {*/
  /*  display: grid;*/
  /*  grid-template-columns: 1fr 1fr;*/
  /*  padding: 0 2rem;*/
  /*}*/
}
