@use "github-markdown-css/github-markdown-dark.css";

@mixin hover-highlight-text($startColor:#e7ff00, $endColor:#f46527) {
  &:hover {
    background-image: linear-gradient(to right,  $startColor, $endColor);
    background-clip: text;
    color: transparent;
  }
}
@mixin mine-markdown-up-ani-text($startColor:#e7ff00, $endColor:#f46527) {
  @keyframes text-ani {
    0% {
      background-position: 100% 0;
    }

    100% {
      background-position: -100% 0;
    }

  }
  width: fit-content;
  color: transparent;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent, $startColor, transparent , $endColor, transparent);
  background-clip: text;
  animation: text-ani 1s linear infinite;
}
@mixin mine-markdown {
  p {
    margin: 10px 0;
    font-size: 14px;
    padding: 10px;
    background: #1d1d1d;
  }
  .keyword, .keyword a {
    transition: all .3s;
  }
  .keyword {
    color: var(--md-h1-color);
    @include hover-highlight-text();
    a {
      @include hover-highlight-text();
    }
  }
  a {
    color: var(--half-gray-128);
  }
  blockquote {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(53, 53, 53, 0.1);
  }

  .b_block {
    margin: 10px 0;
    padding: 5px;
    width: fit-content;
    font-size: 12px;
    border-radius: 5px;
    color: var(--half-gray-128);
    background-color: var(--half-gray-128-o-3);
    transition: all .3s;
    &:hover {
      background-color: #353535;
      color: #fff;
    }
  }

  .up-ani-text {
    @include mine-markdown-up-ani-text()
  }
}

.tran_markdown_show_area {
  @include mine-markdown();

  pre {
    position: relative;
    padding-top: 10px;

    &:hover {
      .cp_btn {
        opacity: 1;
      }
    }

    code {
      min-height: 50px;
      padding-top: 22px !important;
    }
  }


  .cp_btn {
    opacity: 0;
    --size: 30px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    cursor: pointer;
    background-color: #2d2d2d;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1;
    transition: all .3s;
    svg {
      transition: all .3s;
      fill: #fff;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }
  }
}
